[Desktop Entry]
Type=Application
Exec=~/./start-qortal-at-boot.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=start Qortal at boot
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
